<div class="fullscreen">
  <div class="hide-on-small-and-down">
    <te-app-ngx-agile-slider-container [sliderOptions]="{ loop: true, lazyLoading: false }">
      <te-app-ngx-agile-slider-item>
        <div>
          <div>
            <img src="assets/test-1.png"/>
          </div>
        </div>
      </te-app-ngx-agile-slider-item>
      <te-app-ngx-agile-slider-item>
        <img src="assets/test-2.png"/>
      </te-app-ngx-agile-slider-item>
      <te-app-ngx-agile-slider-item>
        <img src="assets/test-3.png"/>
      </te-app-ngx-agile-slider-item>
      <te-app-ngx-agile-slider-item>
        <img src="assets/test-4.png"/>
      </te-app-ngx-agile-slider-item>
    </te-app-ngx-agile-slider-container>

  </div>
  <div >
    <te-app-why-we-widget [withRuler]="true"></te-app-why-we-widget>
    <te-app-course-widget [withRuler]="true"></te-app-course-widget>
    <te-app-event-widget [withRuler]="true"></te-app-event-widget>
    <te-app-course-widget [withRuler]="true"></te-app-course-widget>
    <te-app-diploma-widget></te-app-diploma-widget>
  </div>
</div>
