<div class="te-full-container" *ngIf="courseList  && courseList.length > 0">
<div class="row te-app-slider-wrapper">
  <te-app-ngx-agile-slider-container [sliderOptions]="{ loop: true, lazyLoading: false }">
    <te-app-ngx-agile-slider-item>
      <te-app-image-carousel [imgUrl]="'./../../assets/test-1.png'">

      </te-app-image-carousel>
    </te-app-ngx-agile-slider-item>
    <te-app-ngx-agile-slider-item>
      <te-app-image-carousel [imgUrl]="'./../../assets/test-1.png'">

      </te-app-image-carousel>
    </te-app-ngx-agile-slider-item>
    <te-app-ngx-agile-slider-item>
      <te-app-image-carousel [imgUrl]="'./../../assets/test-1.png'">

      </te-app-image-carousel>
    </te-app-ngx-agile-slider-item>
    <te-app-ngx-agile-slider-item>
      <te-app-image-carousel [imgUrl]="'./../../assets/test-1.png'">

      </te-app-image-carousel>
    </te-app-ngx-agile-slider-item>
  </te-app-ngx-agile-slider-container>
</div>

  <div class="row">
<te-app-page-header [pageTitle]="'Te-Sham Academy Courses'"></te-app-page-header>
  </div>
  <div class="container row">
    <ng-container *ngFor="let course of courseList; let _last = last;">
      <div class="col l4 m6 s12 course-widget" [ngClass]="{'hide-on-med-and-down': !!_last}">
        <te-app-course-card [route]="routes.courseDetail" [data]="course"></te-app-course-card>
      </div>
    </ng-container>
  </div>
</div>
