.te-full-container {
  .te-app-slider-wrapper {
    margin-bottom: 0 !important;
  }

  .te-app-sub-list {
    & li {
      padding-left: 20px;
    }
  }

  .te-list-title {
   & .te-app-icon-medium {
      font-size: 2.5rem !important;
    }
  }
}


