<div class="container" *ngIf="courseList && courseList.length > 0">
  <div class="row center"><h5><span class="te-title">Te-Sham Academy Courses</span></h5></div>
  <div class="row">
    <ng-container *ngFor="let course of courseList; let _last = last;">
      <div class="col l4 m6 s12 course-widget" [ngClass]="{'hide-on-med-and-down': !!_last}">
        <te-app-course-card [route]="router.courseDetail" [data]="course"></te-app-course-card>
      </div>
    </ng-container>
  </div>
  <div class="row center"><a class="btn waves-effect waves-light light-green" [routerLink]="'/' + router.courses">View ALL COURSES</a></div>
  <div *ngIf="withRuler" class="te-widget-separator"></div>
</div>
