<div class="te-why-we-widget">
  <div class="container">
    <div class="center row">
      <h5><span class="te-title">our services</span></h5>
    </div>
    <div class="row">
      <div class="col l4 m4 s12">
        <h5><a class="te-why-we-title" href="#"><img class="te-why-we-image" src="assets/icons/ico1.svg">Modern Design </a>
        </h5>
        <img class="te-why-we-image" src="assets/images/image_300x190.jpg" alt="image">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. </p>
        <div class="center"><a class="btn light-green" href="#" role="button">Learn more</a></div>
      </div>
      <div class="col l4 m4 s12">
        <h5><a class="te-why-we-title" href="#"><img class="te-why-we-image" src="assets/icons/ico1.svg">Modern Design </a>
        </h5>
        <img class="te-why-we-image" src="assets/images/image_300x190.jpg" alt="image">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. </p>
        <div class="center"><a class="btn light-green" href="#" role="button">Learn more</a></div>
      </div>
      <div class="col l4 m4 s12">
        <h5><a class="te-why-we-title" href="#"><img class="te-why-we-image" src="assets/icons/ico1.svg">Modern Design </a>
        </h5>
        <img class="te-why-we-image" src="assets/images/image_300x190.jpg" alt="image">
        <p class="te-why-we-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
          volutpat mattis eros. </p>
        <div class="center"><a class="btn light-green" href="#" role="button">Learn more</a></div>
      </div>
    </div>
    <div *ngIf="withRuler" class="te-widget-separator"></div>
  </div>
</div>
