<div class="card course-card">
  <div class="card-image">
    <img [src]="'assets/images/' + diploma.imageUrl" [alt]="diploma.imageAlt">
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light light-green"
       [routerLink]="['/' + route , diploma.diplomaName]"
    ><i class="material-icons">add</i></a>
  </div>
  <div class="card-content">
    <span class="card-title">{{diploma.title}}</span>
    <p class="course-widget-category"># {{diploma.category}}</p>
    <p class="course-widget-description">
      <te-app-read-more [text]="diploma.shortDescription" [countChar]="50"></te-app-read-more>
    <div class="course-widget-footer">
      <div class="row">
        <div class=" left"><i class="material-icons tiny">star</i> <span>{{diploma.rating}}</span></div>
        <div class="right">Price: {{diploma.price}}</div>
      </div>
    </div>
  </div>
</div>
