<div class="te-main-footer">
  <div class="te-footer-top">
    <div class="container">
    </div>
  </div>
  <div class="te-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col l8 m8 s12">
          <p class="te-copy-right"><span>Copyright 2018-TE Sham Academy, Powered by Mohamad Arbash</span></p>
          <te-app-version></te-app-version>
        </div>
        <div class="col l4 m4 s12">
          <te-app-social-icons [socialIconsData]="[
          {socialLink: 'https://angular.io/guide/http', socialName: 'facebook', isTooltips: false,
           tooltipText: 'تابع صفحتنا على الفيس للمزيد من الأخبار'},
          {socialLink: 'https://angular.io/guide/http', socialName: 'twitter', isTooltips: true,
          tooltipText: 'تابعنا على اليوتيوب  للمزيد من الأخبار'},
          {socialLink: 'https://angular.io/guide/http', socialName: 'youtube', isTooltips: true,
          tooltipText: 'تابع صفحتنا على توتير للمزيد من الأخبار'}]">
          </te-app-social-icons>
        </div>
      </div>
    </div>
  </div>
</div>
