<div class="te-upcoming-event-container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="assets/images/event_1.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Which Country Handles Student Debt<i
        class="material-icons right">more_vert</i></span>
      <div class="row te-event-body">
        <div class="te-event-time">
          <span class="te-event-day">21</span>
          <span class="te-event-month">Aug</span>
        </div>
        <div class="te-event-description">
          <div class="te-event-info">
            <div><i class="material-icons">access_time</i><span class="tiny">15.00 - 19.30</span>
            </div>
            <div><i class="material-icons">location_on</i><span>25 New York City</span></div>
          </div>
          <div class="te-event-text">
            <p>Policy analysts generally agree on a need for reform, but not on which path...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Which Country Handles Student Debt<i
        class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
