@import "colors";


// toolTip
.te-tool-tip-container {
  position: relative;
  display: inline-block;

  & a:hover {
    .te-tool-tip-text {
      visibility: visible;
      opacity: 0.7;
    }
  }
}

.te-tool-tip-text {
  min-width: 180px;
  max-width: 200px;
  line-height: 1.6rem;
  white-space: normal;
  position: absolute;
  visibility: hidden;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 16px;
  color: $white-color;
  transform: translate(-45%,0);
  background-color: $black-color;
  text-align: center;
  z-index: 1;
  bottom: 100%;
  margin-bottom: 5px;
  text-transform: none !important;
  opacity: 0;
  transition: all .5s ease-in-out;
  &:after {
    content: " ";
    position: absolute;
    border: 7px solid transparent;
    left: 50%;
    margin-left: -5px;
  }
}

.te-position-top:after {
  top: 100%;
  border-top-color: $black-color;
}

.te-position-bottom:after {
  border-bottom-color: $black-color;
  bottom: 100%;
}

.te-link {
    cursor: pointer;
    display: block;
    color: $main-color !important;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    padding: 18px 20px;
    &:hover > span {
      border-bottom: 2px solid $secondary-color;
      padding-bottom: 5px
    }
}
.te-button-link {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: $light-green;
  cursor: pointer;
  &.te-underline{
    text-decoration: underline;
  }
}

.te-widget-separator {
  width: 100%;
  max-width: 80%;
  position: relative;
  border-bottom: 1px solid $main-color;
  opacity: 0.4;
  margin: 30px auto 20px auto;
}

.te-list-title {
  border-bottom: 1px solid $gray-green-color;
  padding-bottom: 5px;
  line-height: 1.7;
  display: inline-block;
}

.te-title {
  border-bottom: 2px solid $light-green;
  padding-bottom: 5px;
  line-height: 1.7;
  display: inline-block;
}

.light-green {
  background-color: $main-fet-color !important;
}

 .container {
    width: 90%;
}

.te-full-container {
  width: 100%;
}

.te-app-cursor-mouse {
  cursor: pointer;
}

.eliminate-margin-bottom {
  margin-bottom: 0;
}
