<div class="container">
  <div class="row center"><h5><span class="te-title">Te-Sham Academy Upcoming Events</span></h5></div>
  <div>
  <div class="row">
    <div class="col l4 m6 s12">
      <te-app-upcoming-event></te-app-upcoming-event>
    </div>
    <div class="col l4 m6 s12">
      <te-app-upcoming-event></te-app-upcoming-event>
    </div>
    <div class="col l4 m6 s12 hide-on-med-and-down">
      <te-app-upcoming-event></te-app-upcoming-event>
    </div>
  </div>
  <div class="row center"><a class="btn waves-effect waves-light light-green">View ALL UPCOMING EVENTS</a></div>
    </div>
<!--  <span class="te-coming-soon">soon</span>
  class="te-disable-event"-->
  <div class="te-widget-separator" *ngIf="withRuler"></div>
</div>
